@use './variables' as *;

main {
    display: flex;
    flex-direction: column;
}
#brand-section{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    h2{
        text-align: center;
    }
}