@use './variables' as *;

#brand-section{
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    scroll-margin-top: 80px;
    h2{
        text-align: center;
    }
}