@use './variables' as *;


*,
*::before,
*::after{
    box-sizing: inherit;
}

html {
    background-color: $background;
    box-sizing: border-box;
}
html,
body {
    scroll-behavior: smooth; 
}

h1 {
    font-family: 'Maven Pro', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    color: #013846;
    font-display: swap;
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #013846;
    font-family: 'Maven Pro', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-display: swap;

}

h3 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #013846;
    font-family: 'Maven Pro', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-display: swap;
}

p{
    font-family: 'Lexend', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #013846;
    width: 80%;
    font-display: swap;

}

.flair{
    font-family: 'Satisfy', 'Brush Script MT', cursive;
    font-display: swap;
}

