@use './variables' as *;


*,
*::before,
*::after{
    box-sizing: inherit;
}

html {
    background-color: $background;
    box-sizing: border-box;
}
h1 {
    font-family: 'Maven Pro', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    color: #013846;
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #013846;
    font-family: 'Maven Pro', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
}

p{
    font-family: 'Lexend', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #013846;
    width: 80%;
    

}

.flair{
    font-family: 'Satisfy', 'Brush Script MT', cursive;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}