@use './variables' as *;

#portfolio-section{
    h2 {
        text-align: center;
    }
}
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem 1rem;
    align-items: start;
    justify-items: center;
    grid-auto-flow: dense;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}